<a href="https://colab.research.google.com/github/khalidakram07/Data_Sceince_for_beginners/blob/main/Omission_datascience_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Omission

In [1]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

### Figuring out what data is missing

In [5]:
missing = np.nan

obj = Series(['row 1', 'row 2', missing, 'row 4', 'row 5', 'row 6', missing])
obj

0    row 1
1    row 2
2      NaN
3    row 4
4    row 5
5    row 6
6      NaN
dtype: object

In [6]:
obj.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
dtype: bool

### Filling in for missing values

In [9]:
np.random.seed(5)
df = DataFrame(np.random.rand(25).reshape(5,5))
df

          0         1         2         3         4
0  0.221993  0.870732  0.206719  0.918611  0.488411
1  0.611744  0.765908  0.518418  0.296801  0.187721
2  0.080741  0.738440  0.441309  0.158310  0.879937
3  0.274086  0.414235  0.296080  0.628788  0.579838
4  0.599929  0.265819  0.284686  0.253588  0.327564

In [10]:
df.loc[3:5, 0] = missing
df.loc[1:4, 5] = missing
df

          0         1         2         3         4   5
0  0.221993  0.870732  0.206719  0.918611  0.488411 NaN
1  0.611744  0.765908  0.518418  0.296801  0.187721 NaN
2  0.080741  0.738440  0.441309  0.158310  0.879937 NaN
3       NaN  0.414235  0.296080  0.628788  0.579838 NaN
4       NaN  0.265819  0.284686  0.253588  0.327564 NaN

In [11]:
filled_DF = DF_obj.fillna(0)
filled_DF

          0         1         2         3         4
0  0.221993  0.870732  0.206719  0.918611  0.488411
1  0.611744  0.765908  0.518418  0.296801  0.187721
2  0.080741  0.738440  0.441309  0.158310  0.879937
3  0.274086  0.414235  0.296080  0.628788  0.579838
4  0.599929  0.265819  0.284686  0.253588  0.327564

In [12]:
filled_DF = DF_obj.fillna({0: 0.1, 5:1.25})
filled_DF

          0         1         2         3         4
0  0.221993  0.870732  0.206719  0.918611  0.488411
1  0.611744  0.765908  0.518418  0.296801  0.187721
2  0.080741  0.738440  0.441309  0.158310  0.879937
3  0.274086  0.414235  0.296080  0.628788  0.579838
4  0.599929  0.265819  0.284686  0.253588  0.327564

In [13]:
fill_DF = DF_obj.fillna(method='ffill')
fill_DF

          0         1         2         3         4
0  0.221993  0.870732  0.206719  0.918611  0.488411
1  0.611744  0.765908  0.518418  0.296801  0.187721
2  0.080741  0.738440  0.441309  0.158310  0.879937
3  0.274086  0.414235  0.296080  0.628788  0.579838
4  0.599929  0.265819  0.284686  0.253588  0.327564

### Counting missing values

In [14]:
np.random.seed(5)
df = DataFrame(np.random.rand(25).reshape(5,5))
df.loc[3:5, 0] = missing
df.loc[1:4, 5] = missing
df

          0         1         2         3         4   5
0  0.221993  0.870732  0.206719  0.918611  0.488411 NaN
1  0.611744  0.765908  0.518418  0.296801  0.187721 NaN
2  0.080741  0.738440  0.441309  0.158310  0.879937 NaN
3       NaN  0.414235  0.296080  0.628788  0.579838 NaN
4       NaN  0.265819  0.284686  0.253588  0.327564 NaN

In [15]:
df.isnull().sum()

0    2
1    0
2    0
3    0
4    0
5    5
dtype: int64

### Filtering out missing values

In [16]:
DF_no_NaN = df.dropna()
DF_no_NaN

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5]
Index: []

In [17]:
DF_no_NaN = df.dropna(axis=1)
DF_no_NaN

          1         2         3         4
0  0.870732  0.206719  0.918611  0.488411
1  0.765908  0.518418  0.296801  0.187721
2  0.738440  0.441309  0.158310  0.879937
3  0.414235  0.296080  0.628788  0.579838
4  0.265819  0.284686  0.253588  0.327564